# Testing requirements

mongobox
# Use pytest version that is available on centos7 to avoid deprecation warnings
pytest==2.9.2
# Pytest-warnings is required for pytest<3.1
pytest-warnings
# pytest-cov 2.5.1 is available for centos7. Newest versions are not compatible
# with pytest 2.9.2
pytest-cov==2.5.1
mock
requests-mock
fakeredis
lupa

# Install requirements

flask==1.1.2
# itsdangerous 1.1.0 is available on centos7. Newest versions will cause
# deprecation warnings with flask 1.1.2
itsdangerous==1.1.0
Werkzeug==1.0.1
pymongo==3.6.1
file-magic
# Latest fakeredis (version 1.7.1) is incompatible with redis 4.2.0. The pip
# version (20.2.4) used in GitLab testing pipeline can not resolve
# compatibility problems, and will therefore install redis 4.2.0 anyway.
# The unit tests will then fail with
#
#    AttributeError: 'FakeStrictRedis' object has no attribute 'connection_pool'
#
# Therefore, using redis version 4.2.0 must be prevented until pip is upgraded
redis<4.2.0
# RQ v1.9.0 is causing errors like:
#    redis.exceptions.ResponseError: unknown command 'CLIENT'
rq<1.9.0
python-dateutil
rehash
click

git+https://gitlab.ci.csc.fi/dpres/metax-access.git@develop#egg=metax_access
git+https://gitlab.ci.csc.fi/dpres/archive-helpers.git@develop#egg=archive_helpers
git+https://gitlab.ci.csc.fi/dpres/flask-tus-io.git@develop#egg=flask_tus_io
