# Testing requirements

mongomock
pytest
pytest-cov
mock
requests-mock
fakeredis==0.9.0 ; python_version == '2.7'
fakeredis ; python_version >= '3.6'

# Install requirements

flask==0.10.1 ; python_version == '2.7'
Werkzeug==0.9.1 ; python_version == '2.7'
flask==1.1.2 ; python_version >= '3.6'
Werkzeug==0.15.3 ; python_version >= '3.6'
pymongo==3.6.0 ; python_version == '2.7'
pymongo==3.6.1 ; python_version >= '3.6'
file-magic
six
futures
redis==2.10.6 ; python_version == '2.7'
redis ; python_version >= '3.6'
rq==0.8.2 ; python_version == '2.7'
rq ; python_version >= '3.6'

git+https://gitlab.ci.csc.fi/dpres/metax-access.git@develop#egg=metax_access
git+https://gitlab.ci.csc.fi/dpres/archive-helpers.git@develop#egg=archive_helpers
